.hangman {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px auto;
}

.base,
.pole,
.beam,
.rope,
.head,
.body,
.left-arm,
.right-arm,
.left-leg,
.right-leg {
	position: absolute;
	background-color: black;
}

.base {
	width: 100px;
	height: 10px;
	bottom: 0;
	left: 50px;
}

.pole {
	width: 10px;
	height: 150px;
	bottom: 10px;
	left: 50px;
}

.beam {
	width: 100px;
	height: 10px;
	top: 0;
	left: 50px;
}
.rope {
	width: 10px;
	height: 20px;
	top: 10px;
	left: 140px;
}
.head {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	top: 30px;
	left: 130px;
	display: none;
}
.body {
	width: 10px;
	height: 50px;
	top: 60px;
	left: 140px;
	display: none;
}
.left-arm,
.right-arm {
	width: 10px;
	height: 30px;
	top: 60px;
	display: none;
}
.left-arm {
	transform: rotate(-45deg);
	left: 123px;
}
.right-arm {
	transform: rotate(45deg);
	left: 158px;
}
.left-leg,
.right-leg {
	width: 10px;
	height: 30px;
	top: 110px;
	display: none;
}
.left-leg {
	transform: rotate(45deg);
	left: 129px;
}
.right-leg {
	transform: rotate(-45deg);
	left: 150px;
}